/**
 *Create by szy
 *Date 2017/11/20
 *Time 23:40
 */
 .delete-btn,.edit-btn{
 	position: absolute;
 	color:white;
 	right:5px;
 }
 .edit-btn{
	top:8px;
	
	
 }
 
 .delete-btn{
 	top:49px;
 	
 }
 #EditBox{
 	top:100%;
 	width: 100%;
	position: fixed;
	top: 0%;
	z-index: 999;
 }
 .ui-dialog-cnt{
 	top:11%;
 }
 .hidden{
 	display: none;

 }

