/**
 *Create by szy
 *Date 2017/11/20
 *Time 23:40
 */
 .delete-btn,.edit-btn{
 	position: absolute;
 	color:white;
 	right:5px;
 }
 .edit-btn{
	top:8px;
	
	
 }
 
 .delete-btn{
 	top:49px;
 	
 }
 #editDetail{
	z-index: 999;/*避免把时间框盖住*/
 }

